Options +FollowSymLinks
RewriteEngine On

# Quitar .php de las URLs
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]


RewriteCond %{THE_REQUEST} \s/+index\.html[\s?]
RewriteRule ^index\.html$ / [R=301,L]